<div class="top-group">
  <!-- Add Card Button -->
  <button type="button" class="btn btn-outline-dark btn-add" data-toggle="modal" data-target="#addModal"  data-dismiss="modal">Add
   Card</button>
</div>

<div class="accountList">
   <table class="table table-striped" >
       <thead>
         <tr>
           <th scope="col"></th>
           <th scope="col">accountId</th>
           <th scope="col">accountNumber</th>
           <th scope="col">cardHolderId</th>
           <th scope="col">cardNumber</th>
           <th scope="col">cvv</th>
           <th scope="col">expiryDate</th>
           <th scope="col"></th>
         </tr>
       </thead>
       <tbody >
         <tr>
           <th scope="row">1</th>
           <td>ssss</td>
           <td>ssss</td>
           <td>ssss</td>
           <td>sss</td>
           <td>sss</td>
           <td>ssss</td>
           <td>
               <div class="buttonGroup">
                   <button type="button" class="btn btn-danger" >Sil</button>
                   <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#updateModal">Güncelle</button>
               </div>
           </td>
         </tr>
       </tbody>
     </table>
</div>